@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat:wght@300;400&family=PT+Sans:ital@1&family=Roboto:wght@100;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat, roboto, sans-serif;
}

#logo {
  font-size: 24px;
  color: #a7c957;
  margin-left: 20%;
  cursor: pointer;
}

.navbar {
  padding: 20px;
  margin-right: 15%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.navbar a {
  text-decoration: none;
  color: #a7c957;
  padding: 0 1.5rem;
  font-size: 18px;
}

.main-banner {
  /* height: 30rem; */
  display: flex;
  background-color: #c9f2c7;
  height: auto;
}

.hero-banner {
  display: flex;
  margin-left: 200px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  flex-wrap: wrap;
  width: 100%;
}

.main-banner h1 {
  font-size: 48px;
  padding-right: 20vh;
}

.hero-text p {
  padding-bottom: 10px;
  font-size: 18px;
  margin-top: 20px;
}

button {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 25px;
  font-size: 15px;
  font-weight: 500;
  margin-right: 60vh;
  margin-top: 20px;
  cursor: pointer;
}

.img-banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: auto;
  margin-right: 300px;
}

img {
  height: 400px;
  width: auto;
}

a:hover {
  transform: 0.3s ease;
  color: #386641;
}

button:hover {
  transform: 0.7s ease;
  color: #386641;
  background-color: #a7c957;
}

.main-banner2 {
  height: 400px;
  background-color: #fff;
}

.hero-img {
  width: 100px;
  height: 100px;
  border: 1px solid black;

  margin-right: 40px;
}

.hero-img1,
.hero-img2,
.hero-img3,
.hero-img {
  width: 200px;
  height: 200px;
  border: 4px solid #c7f9cc;
  margin-right: 50px;
  border-radius: 15px;
}

.hero-banner2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 15vh;
}

.inf h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.hero-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-img1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-img2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-img3 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.description p {
  font-size: 14px;
  font-style: italic;
}

.quote-banner {
  height: 400;
  width: auto;
  background-color: #e9f5db;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  align-items: end;
  font-size: 36px;
  margin-left: 50vh;
  margin-right: 50vh;
  flex-shrink: 0;
}

.quote-p p {
  flex-shrink: 0;
  font-weight: 800;
  font-size: 16px;
}

.quote p {
  text-align: justify;
}
